{
    "openapi": "3.0.0",
    "info": {
        "title": "Lightr.nl API documentation",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https:\/\/app.lightr.nl",
            "description": "Production server"
        }
    ],
    "paths": {
        "\/api\/v1\/me": {
            "get": {
                "summary": "Return authenticated organization user.",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "required": [
                                                        "id",
                                                        "organization_user_role_id",
                                                        "first_name",
                                                        "last_name",
                                                        "email",
                                                        "phone_number",
                                                        "created_at",
                                                        "updated_at",
                                                        "organization"
                                                    ],
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "readOnly": true
                                                        },
                                                        "organization_user_role_id": {
                                                            "type": "string"
                                                        },
                                                        "first_name": {
                                                            "type": "string"
                                                        },
                                                        "last_name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        },
                                                        "phone_number": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "readOnly": true
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "readOnly": true
                                                        },
                                                        "organization": {
                                                            "allOf": [
                                                                {
                                                                    "required": [
                                                                        "name",
                                                                        "onboarding_steps_completed",
                                                                        "credits"
                                                                    ],
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "auto_add_credits": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "lower_limit": {
                                                                            "type": "integer"
                                                                        },
                                                                        "replenishment_method": {
                                                                            "enum": [
                                                                                "add_until",
                                                                                "add_with"
                                                                            ],
                                                                            "type": "string",
                                                                            "nullable": true
                                                                        },
                                                                        "amount": {
                                                                            "type": "integer"
                                                                        },
                                                                        "onboarding_steps_completed": {
                                                                            "required": [
                                                                                "billing_address",
                                                                                "subscription_active"
                                                                            ],
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "billing_address": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "payment_method": {
                                                                                    "type": "boolean"
                                                                                },
                                                                                "subscription_active": {
                                                                                    "type": "boolean"
                                                                                }
                                                                            },
                                                                            "readOnly": true
                                                                        },
                                                                        "credits": {
                                                                            "readOnly": true
                                                                        },
                                                                        "agency": {
                                                                            "allOf": [
                                                                                {
                                                                                    "required": [
                                                                                        "id",
                                                                                        "name"
                                                                                    ],
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "type": "string",
                                                                                            "format": "uuid",
                                                                                            "readOnly": true
                                                                                        },
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    }
                                                                                }
                                                                            ],
                                                                            "nullable": true,
                                                                            "readOnly": true
                                                                        }
                                                                    }
                                                                }
                                                            ],
                                                            "readOnly": true
                                                        },
                                                        "features": {
                                                            "allOf": [
                                                                {
                                                                    "required": [
                                                                        "qr_codes",
                                                                        "dashboard",
                                                                        "custom_base_templates",
                                                                        "custom_back_templates",
                                                                        "manage_api_tokens"
                                                                    ],
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "qr_codes": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "dashboard": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "custom_base_templates": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "custom_back_templates": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "manage_api_tokens": {
                                                                            "type": "boolean"
                                                                        }
                                                                    }
                                                                }
                                                            ],
                                                            "readOnly": true
                                                        }
                                                    }
                                                },
                                                {
                                                    "properties": {
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "readOnly": true
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "readOnly": true
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Not found."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This action is unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v1\/dashboard": {
            "get": {
                "summary": "Return dashboard for authenticated user.",
                "responses": {
                    "200": {
                        "description": "Successful operation.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "card_pricing": {
                                                    "type": "object",
                                                    "properties": {
                                                        "A5": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "label": {
                                                                        "type": "string"
                                                                    },
                                                                    "price": {
                                                                        "type": "string",
                                                                        "description": "Price in credits.",
                                                                        "example": "6,75"
                                                                    },
                                                                    "postage_fee": {
                                                                        "type": "string",
                                                                        "description": "Postage fee in credits.",
                                                                        "example": "1,01"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "A6": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "label": {
                                                                        "type": "string"
                                                                    },
                                                                    "price": {
                                                                        "type": "string",
                                                                        "description": "Price in credits.",
                                                                        "example": "6,75"
                                                                    },
                                                                    "postage_fee": {
                                                                        "type": "string",
                                                                        "description": "Postage fee in credits.",
                                                                        "example": "1,01"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "A7": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "label": {
                                                                        "type": "string"
                                                                    },
                                                                    "price": {
                                                                        "type": "string",
                                                                        "description": "Price in credits.",
                                                                        "example": "6,75"
                                                                    },
                                                                    "postage_fee": {
                                                                        "type": "string",
                                                                        "description": "Postage fee in credits.",
                                                                        "example": "1,01"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "nullable": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This action is unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v1\/send-password-reset-email": {
            "post": {
                "summary": "Send a password reset email to a organization user",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "maxLength": 255,
                                        "type": "string",
                                        "format": "email"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset email is sent"
                    },
                    "422": {
                        "description": "Unprocessable Entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "errors"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The example attribute field is required. (and 2 more errors)."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "example_attribute": [
                                                    "The example attribute field is required."
                                                ]
                                            },
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "\/api\/v1\/reset-password": {
            "post": {
                "summary": "Reset the password",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "token",
                                    "password"
                                ],
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "maxLength": 255,
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "token": {
                                        "type": "string",
                                        "format": "token"
                                    },
                                    "password": {
                                        "minLength": 8,
                                        "type": "string",
                                        "format": "password"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password is reset"
                    },
                    "422": {
                        "description": "Unprocessable Entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "errors"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The example attribute field is required. (and 2 more errors)."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "example_attribute": [
                                                    "The example attribute field is required."
                                                ]
                                            },
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "\/api\/v1\/login": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Fetch request access token using credentials.",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "maxLength": 255,
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "minLength": 8,
                                        "type": "string",
                                        "format": "password"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful operation.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "1|tAtcUP0Ngbz9VadtldoYj2lljQiB4CAxrVMmVTsO"
                                        },
                                        "expires": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2021-01-01T00:00:00Z"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "errors"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The example attribute field is required. (and 2 more errors)."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "example_attribute": [
                                                    "The example attribute field is required."
                                                ]
                                            },
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This action is unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "\/api\/v1\/register": {
            "post": {
                "tags": [
                    "Register"
                ],
                "summary": "Register.",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "organization_name",
                                    "first_name",
                                    "last_name"
                                ],
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "maxLength": 255,
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "minLength": 8,
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "password_confirmation": {
                                        "minLength": 8,
                                        "type": "string",
                                        "format": "password"
                                    },
                                    "organization_name": {
                                        "maxLength": 255,
                                        "type": "string"
                                    },
                                    "first_name": {
                                        "maxLength": 255,
                                        "type": "string"
                                    },
                                    "last_name": {
                                        "maxLength": 255,
                                        "type": "string"
                                    },
                                    "api_url": {
                                        "type": "boolean"
                                    },
                                    "agency_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "nullable": true
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "The server successfully processed the request and is not returning any content"
                    },
                    "422": {
                        "description": "Unprocessable Entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "errors"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The example attribute field is required. (and 2 more errors)."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "example_attribute": [
                                                    "The example attribute field is required."
                                                ]
                                            },
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "\/api\/v1\/register\/{organizationUser}": {
            "get": {
                "tags": [
                    "Register"
                ],
                "summary": "Verify.",
                "parameters": [
                    {
                        "name": "organizationUser",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "expires",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "signature",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The server successfully processed the request and is not returning any content"
                    },
                    "422": {
                        "description": "Unprocessable Entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "errors"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The example attribute field is required. (and 2 more errors)."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "example_attribute": [
                                                    "The example attribute field is required."
                                                ]
                                            },
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "\/api\/v1\/countries": {
            "get": {
                "tags": [
                    "Country"
                ],
                "summary": "Return list of countries.",
                "responses": {
                    "200": {
                        "description": "List of countries.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "shipping_rates_region": {
                                                                "enum": [
                                                                    "nl",
                                                                    "eu",
                                                                    "world"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "properties": {
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "readOnly": true
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "readOnly": true
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This action is unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v1\/organization-addresses": {
            "get": {
                "tags": [
                    "Organization address"
                ],
                "summary": "Return list of organization addresses.",
                "responses": {
                    "200": {
                        "description": "List of organization addresses.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "readOnly": true
                                                            },
                                                            "organization_id": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "enum": [
                                                                    "billing",
                                                                    "shipping"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "address": {
                                                                "type": "string"
                                                            },
                                                            "postal_code": {
                                                                "type": "string"
                                                            },
                                                            "city": {
                                                                "type": "string"
                                                            },
                                                            "country_id": {
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "type": "array",
                                                                "example": [
                                                                    "rood",
                                                                    "geel"
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "properties": {
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "readOnly": true
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "readOnly": true
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This action is unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Organization address"
                ],
                "summary": "Add a new organization address.",
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "format": "uuid",
                                                "readOnly": true
                                            },
                                            "organization_id": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "enum": [
                                                    "billing",
                                                    "shipping"
                                                ],
                                                "type": "string"
                                            },
                                            "address": {
                                                "type": "string"
                                            },
                                            "postal_code": {
                                                "type": "string"
                                            },
                                            "city": {
                                                "type": "string"
                                            },
                                            "country_id": {
                                                "type": "string"
                                            },
                                            "tags": {
                                                "type": "array",
                                                "example": [
                                                    "rood",
                                                    "geel"
                                                ]
                                            }
                                        }
                                    },
                                    {
                                        "required": [
                                            "organization_id",
                                            "type",
                                            "address",
                                            "postal_code",
                                            "city",
                                            "country_id"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created organization address.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "readOnly": true
                                                        },
                                                        "organization_id": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "enum": [
                                                                "billing",
                                                                "shipping"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "address": {
                                                            "type": "string"
                                                        },
                                                        "postal_code": {
                                                            "type": "string"
                                                        },
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "country_id": {
                                                            "type": "string"
                                                        },
                                                        "tags": {
                                                            "type": "array",
                                                            "example": [
                                                                "rood",
                                                                "geel"
                                                            ]
                                                        }
                                                    }
                                                },
                                                {
                                                    "properties": {
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "readOnly": true
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "readOnly": true
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This action is unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "errors"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The example attribute field is required. (and 2 more errors)."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "example_attribute": [
                                                    "The example attribute field is required."
                                                ]
                                            },
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v1\/organization-addresses\/{id}": {
            "get": {
                "tags": [
                    "Organization address"
                ],
                "summary": "Find a organization address.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Found organization address.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "readOnly": true
                                                        },
                                                        "organization_id": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "enum": [
                                                                "billing",
                                                                "shipping"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "address": {
                                                            "type": "string"
                                                        },
                                                        "postal_code": {
                                                            "type": "string"
                                                        },
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "country_id": {
                                                            "type": "string"
                                                        },
                                                        "tags": {
                                                            "type": "array",
                                                            "example": [
                                                                "rood",
                                                                "geel"
                                                            ]
                                                        }
                                                    }
                                                },
                                                {
                                                    "properties": {
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "readOnly": true
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "readOnly": true
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This action is unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Not found."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Organization address"
                ],
                "summary": "Delete a organization address.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Record deleted."
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This action is unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Not found."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Organization address"
                ],
                "summary": "Update a organization address.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "format": "uuid",
                                                "readOnly": true
                                            },
                                            "organization_id": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "enum": [
                                                    "billing",
                                                    "shipping"
                                                ],
                                                "type": "string"
                                            },
                                            "address": {
                                                "type": "string"
                                            },
                                            "postal_code": {
                                                "type": "string"
                                            },
                                            "city": {
                                                "type": "string"
                                            },
                                            "country_id": {
                                                "type": "string"
                                            },
                                            "tags": {
                                                "type": "array",
                                                "example": [
                                                    "rood",
                                                    "geel"
                                                ]
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated organization address.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "readOnly": true
                                                        },
                                                        "organization_id": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "enum": [
                                                                "billing",
                                                                "shipping"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "address": {
                                                            "type": "string"
                                                        },
                                                        "postal_code": {
                                                            "type": "string"
                                                        },
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "country_id": {
                                                            "type": "string"
                                                        },
                                                        "tags": {
                                                            "type": "array",
                                                            "example": [
                                                                "rood",
                                                                "geel"
                                                            ]
                                                        }
                                                    }
                                                },
                                                {
                                                    "properties": {
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "readOnly": true
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "readOnly": true
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This action is unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Not found."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "errors"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The example attribute field is required. (and 2 more errors)."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "example_attribute": [
                                                    "The example attribute field is required."
                                                ]
                                            },
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v1\/organization-addresses\/{id}\/tags": {
            "patch": {
                "tags": [
                    "Organization address"
                ],
                "summary": "Update a organization address tag.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "tags": {
                                        "type": "array",
                                        "example": [
                                            "rood",
                                            "geel"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated preset tags.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid",
                                                            "readOnly": true
                                                        },
                                                        "organization_id": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "enum": [
                                                                "billing",
                                                                "shipping"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "address": {
                                                            "type": "string"
                                                        },
                                                        "postal_code": {
                                                            "type": "string"
                                                        },
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "country_id": {
                                                            "type": "string"
                                                        },
                                                        "tags": {
                                                            "type": "array",
                                                            "example": [
                                                                "rood",
                                                                "geel"
                                                            ]
                                                        }
                                                    }
                                                },
                                                {
                                                    "properties": {
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "readOnly": true
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "readOnly": true
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This action is unauthorized."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Not found."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "errors"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The example attribute field is required. (and 2 more errors)."
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "example_attribute": [
                                                    "The example attribute field is required."
                                                ]
                                            },
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/api\/v1\/organization-user-roles": {
            "get": {
                "tags": [
                    "Organization user role"
                ],
                "summary": "Return list of organization user roles.",
                "responses": {
                    "200": {
                        "description": "List of organization user roles.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "title": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    {
                                                        "properties": {
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "readOnly": true
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "readOnly": true
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
[...]
